[submodule "impls/c.2/unity"]
	path = impls/c.2/unity
	url = https://github.com/ThrowTheSwitch/Unity
[submodule "impls/c.2/libs/unity"]
	path = impls/c.2/libs/unity
	url = git@github.com:ThrowTheSwitch/Unity
